@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #f8bbf8;
}
.box{
    width: 360px;
    height: 360px;
    background: rgb(128, 0, 128, 0.85);
    position: absolute;
    padding: 65px 25px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
}
.cadastrar{
   width: 101%;
}
.historico{
    width: 101%;
 }
.sair{
    width: 101%;
 }
input[type="submit"]{
    width: 97%;
    height: 40px;
    border: none;
    border-bottom: 5px solid #255b1b;
    background: #64c94f;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
    margin: 2px;   
}
input[type="submit"]:active{
    transform: scale(0.9);
}
input[type="submit"]:hover{
    filter: brightness(50%);
}