@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-image: linear-gradient(#761194,#f459dd);
    
}
.container{
    grid-template-areas: "text" "stats";
    font-family: roboto;
    border-radius: 18px;
    background: rgb(224, 218, 218);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 10px;
    transition: 0.5s ease;
}
.container:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card-text{
    grid-area: text;
    margin: 20px;
    width: 300px;
    height: 200px;       
}
.card-stats input{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;   
    
    background: #2728f2;
    color: #fff;
    font-size: 15px;
    width: 100%;
    height: 40px;
    
}

input[type="text"]{
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    width: 200px;
}
textarea{
    width: 215px;
    height: 60px;
    border-radius: 10px;
}
input[type=button]:hover{
    filter: brightness(50%);  
}
input[type=button]:active{
    transform: scale(0.9);
}
h3{
    padding: 10px;
}
p{
    height: 160px;
}